.header-text {
    letter-spacing: 2px;
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}


canvas {
    -webkit-box-shadow: 0 0 22px -6px rgba(0,0,0,0.31);
    -moz-box-shadow: 0 0 22px -6px rgba(0,0,0,0.31);
    box-shadow: 0 0 22px -6px rgba(0,0,0,0.31);
}

.vh100 {
    height: 100vh;
}

.h100 {
    height: calc(100vh - 20px);
    padding-top: 20px;
}

#img1preview {
    max-width: 100%;
}

.modal-disclaimer {
    font-size: 13px;
    font-style: italic;
    color: darkslategray;
}

#uploadImg1label {
    margin: 0;
    padding: .375rem .75rem;
    cursor: pointer;
}